body{
    background-color: #F5F5F5;
}
.container{
    margin: 1.5rem;
}

.title{
    font-size: 2.8rem;
}

.search-input{
    position: relative;
    width: 50%;
    height: 1rem;
    margin-bottom: 5rem;

}

input{
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    border-radius: 5px;
}
.bold{
    font-weight: bold;
}

.icon{
    position: absolute;
    right: 0%;
    top: 50%;
    cursor: pointer;
}

.articles{
    max-width: 75%;
    text-align: justify;
}